[submodule "SE deliverables"]
	path = SE deliverables
	url = git@github.com:HiVR/deliverables.git
[submodule "HiVRClient"]
	path = HiVRClient
	url = git@github.com:HiVR/HiVRClient.git
[submodule "CleVR-map"]
	path = CleVR-map
	url = git@github.com:HiVR/CleVR-map.git
[submodule "ContinuousIntegration"]
	path = ContinuousIntegration
	url = git@github.com:HiVR/ContinuousIntegration.git
[submodule "SerializedObjects"]
	path = SerializedObjects
	url = git@github.com:HiVR/SerializedObjects.git
